<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow"/> 
    <title>Job Search engine saved results</title>
    <link rel="icon" type="image/x-icon" href="logo.ico">
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.2/dist/css/materialize.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.blue.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.2/dist/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <style>
        .image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .searchbtn {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        a:hover {
            color: green
        }

        h1 {
            text-align: center;
            font-family: "Saira Stencil", sans-serif;
            color: white;
        }

        body {
            background: url("background.png") no-repeat center center fixed;
            background-size: cover;
        }

        .backgroundblur {
            backdrop-filter: blur(6px);
            text-align: center;
        }
    </style>
</head>

<body>
    {{{ body }}}
</body>

</html>