<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search engine results</title>
    <link rel="icon" type="image/x-icon" href="logo.ico">
    <meta name="robots" content="noindex, nofollow"> 
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.2/dist/css/materialize.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.blue.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.2/dist/js/materialize.min.js"></script>
    <style>
        .image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .searchbtn {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        a:hover {
            color: green;
        }

        html {
            background: url("background.png") no-repeat center center fixed;
            background-size: cover;


        }
        h1{
            color: white;
        }

        .backgroundblur {
            backdrop-filter: blur(6px);
            text-align: center;
        }
    </style>
</head>

<body>
    {{{ body }}}
</body>

</html>