<img src="logo.png" alt="Job Search Logo" width="100px" height="100px" class="image"><br>
<p name="clock" id="clock" class="clock"></p>
<form action="/search" method="GET" role="search">
  <input type="search" name="search" placeholder="Search"><br>
  <button class="searchbtn" type="submit">search</button>
</form>
<form action="/saved" method="GET">
  <button class="searchjobsbtn secondary" type="submit">view saved jobs</button>
</form>

<iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4t95PAs1EpY?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>