<h1>Saved Jobs</h1>
<img src="logo.png" alt="Job Search Logo" width="100px" height="100px" class="image"><br>
<div class="backgroundblur">
{{{links}}}
<form action="/remove" method="POST">
<button type="submit">Clear all</button>
</form>
<form action="/">
  <button type="submit"class="secondary">Go Home</button>
</form>
</div>